<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="${logReload:-false}" scanPeriod="${logReloadPeriod:- 60 seconds}" debug="${logDebug:-false}">


    <!--
    logconfig system properties config :
        1.appender switch config:
        1.1 -DappenderSelction=[all|console|rolling]
        1.2 默认配置：console
        1.3 测试、线上环境推荐采用：rolling 模式
        1.4 自测建议采用默认模式：console

        2.com.caishi.capricorn logger config : -DcaishiLevel=[TRACE|DEBUG|INFO|WARN|ERROR]

        3.root logger config : -DrootLevel=[TRACE|DEBUG|INFO|WARN|ERROR]

        4.rolling配置 参见rollingAppender.xml 注释
    -->

    <!-- using to config logback -->
    <include optional="true" resource="logback-config.xml"/>

    <property resource="logback-config.properties"/>

    <variable scope="context" name="logLayout"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} | %msg%n"/>

    <!-- in the absence of the class attribute, assume
   ch.qos.logback.core.hook.DelayingShutdownHook -->
    <shutdownHook/>

    <!-- loggger for caishi  -->
    <logger name="com.caishi" level="${caishiLevel:-DEBUG}">
    </logger>

    <!-- logger for third lib code -->
    <root level="${rootLevel:-INFO}">
    </root>

    <!-- config appender for root logger -->
    <if condition='isDefined("appenderSelction")'>
        <then>
            <if condition='p("appenderSelction").equals("all")'> <!-- config all appender -->
                <then>
                    <include resource="consoleAppender.xml"/>
                    <include resource="rollingAppender.xml"/>
                </then>
                <else>
                    <if condition='p("appenderSelction").equals("console")'> <!-- config console appender -->
                        <then>
                            <include resource="consoleAppender.xml"/>
                        </then>
                        <else>
                            <if condition='p("appenderSelction").equals("rolling")'>  <!-- config rolling appender -->
                                <then>
                                    <include resource="rollingAppender.xml"/>
                                </then>
                                <else>  <!-- 默认配置 -->
                                    <include resource="consoleAppender.xml"/>
                                </else>
                            </if>
                        </else>
                    </if>
                </else>
            </if>
        </then>
        <else> <!-- default config -->
            <include resource="consoleAppender.xml"/>
        </else>
    </if>

    <!-- flume  业务日志配置 -->
    <if condition='p("BusinessLog").equals("true")'>
        <then>
            <include optional="true" resource="BusinessLog.xml"/>
        </then>
    </if>

</configuration>
